[sensorconfig]
WLAN_SSID = ENTER_SSID_HERE
WLAN_PASSWORD = ENTER_PASSWORD_HERE
DEVICENAME = NAME OF DEVICE
MQTT_SERVER = IP OF MQTT SERVER
MQTT_PORT = 1883
MQTT_USERNAME = USERNAME FOR MQTT CONNECTION
MQTT_PASSWORD = PASSWORD FOR MQTT CONNECTION
DEELSPEEP_SECONDS = 300
VOLTAGE_FACTOR = 5076.09
OUTDOOR_DEVICENAME = NAME OF OUTDOOR DEVICE
HOMEASSISTANT_URL = http://192.168.0.159:8123
HOMEASSISTANT_TOKEN = INSERT API TOKEN HERE